.gitignore

.vscode/
.ipynb_checkpoints
.RData
.Rhistory
__pycache__
*.synctex.gz
*.out
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.dvi

#data
gradient_v1/
gradient_v2/
gradient_v3/
gradient_v4/


#inputs
inputs/desert/
inputs/scrubland/
inputs/grassland/
inputs/pineoak/
inputs/subalpine/
inputs/site_information/literature
inputs/site_information/documentation/delete.sh
inputs/climate_hpc.sh

#literature
literature/

# presentation
climate_gradient.pptx


# writing
writing/*.docx

